h1{
    color: red;
}
#ab1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid black;
    background-color: #DCD8CD;
    height: 200px;
}   
#ab1 #img{
    margin-top: 80px;
    border-radius: 50%;
    height: 206px;
    width: 200px;
    background: url("./JavaScript-logo.png");
}
.title{
    text-align: center;
    margin-top: 90px;
}

#ab2{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    height: 600px;

}


#bc1 , #bc2{
    border: 2px solid black;
    height: 500px;
    width: 50%;
}