h1{
    color: red;
}

body{
    font-family:'Courier New', Courier, monospace;
    
}
#ab1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #DCD8CD;
    height: 200px;
    padding: 30px;
}   
#ab1 #img{
    margin-top: 80px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-image: url("unnamed.webp");
    background-position: center;

}
.title{
    text-align: center;
    margin-top: 90px;
}

#ab2{
    display: flex;
    flex-direction: row;
    height: 600px;

}


#bc1 , #bc2{
    height: 500px;
    width: 50%;
    padding: 30px;
}