table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  th, td {
    border: 1px solid black;
    padding: 8px;
  }
  div {
      margin-bottom: 20px;
  }
  body{
      font-family:'Times New Roman', Times, serif ;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  .container div{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .container div input{
    height: 25px;
    width: 180px;
  }

  .container  button{
    height: 25px;
    width: 180px;
  }

